/* VARIOS */
.hidden {display:none;}
.oscurecido {
  opacity: .8 !important;
}
.fa-2x {
  font-size: 1.7em;
}
.fa-1-2x{
  font-size: 1.2em;
}
.fa-1-5x{
  font-size: 1.5em;
}
.shadow-none{box-shadow: none !important;} 

@media screen and (min-width: 550px){
    .fa-1-5x{
    font-size: 2em;
  }
}
@media screen and (min-width: 990px){
    .fa-1-5x{
    font-size: 1.5em;
  }
}

.titulo-seccion {
  font-weight: bold;
}

.navbar i {
  font-size: 1.5em;
}
.navbar a {
  color: #fafafa;
}
.nav-tabs {
  color: #222;
}
/*BOTONES*/

.btn-primary {
    background: -webkit-linear-gradient(50deg,#45cafc,#303f9f)!important;
    background: -o-linear-gradient(50deg,#45cafc,#303f9f)!important;
    background: linear-gradient(40deg,#45cafc,#303f9f)!important;
}

.btn-productos-menu {
  width: 100%;
}

@media screen and (min-width: 992px){
  .btn-categorias,
  .btn-productos-menu {
    width: 22%;
    padding: .5em .2em;
    font-size: .8em;
  }
   
}
.stylish-color-dark:hover{
  color: #fff;
}

.bg {
  height: 100%;
  width: 100%;
  background-image: url('../img/bgdegradado.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  z-index: 1;
  position: relative;
}

.bg main {
  height: 100vh;
}

/* BACKGROUND */
@media screen and (min-width: 520px){
  .bg {
    height: 100vh;
  }
}


.bg-gradient {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 1;
  background: transparent;
}

/* BOX */

.box {
  background: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.sidebar-fixed {
  height: 100vh;
  width: 270px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 1050;
  background-color: #fff;
  padding: 1.5rem;
  padding-top: 0; }
  .sidebar-fixed .list-group .active {
    background: #8E2DE2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-border-radius: 8px;
    border-radius: 8px; 
  }
  .list-group-item {
    border-bottom: none;
    }
  .list-group-item.active{
    border: none;
  }
  li.nav-item {height: 48px;}
  .sidebar-fixed .logo-wrapper {
    padding: 2.5rem; }
    .sidebar-fixed .logo-wrapper img {
      max-height: 50px; }
.main {
  padding-left: 0 !important;
  animation-duration: .5s;
}

@media (min-width: 768px) {
  .navbar,
  .page-footer,
  main {
    padding-left: 270px; } 
  }
@media screen and (max-width: 768px) {
  .sidebar-fixed {
    display: none;
  }
  .slideInLeft {
    display: block;
  }
  main {padding: 0}
}
/*@media (max-width: 1199.98px) {
  .sidebar-fixed {
    display: none; } 
  }*/

    /* MESAS DEL HOME */
.mesa {
  width: 100px !important;
  max-width: 100px;
  height: 100px !important;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 2px 7px 0 rgba(0,0,0,.12);
  -webkit-background-size: 110px 110px;
  background-size: 110px 110px;
  background-position: 10px 9px;
}

.mesa:hover {
}

.mesa .badge {
  box-shadow: none;
  border-radius: 4px !important;
}

.mesa .nro-mesa {
  border-radius: 2px;
}

.mesa .comensales {
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 100%;

}
.mesa .comensales {
  color: #818182;
  position: relative;
  top: 35px;
  margin: auto;
}

.mesa .estado-mesa {
  position: absolute;
  bottom: 2px;
  left: 2px;
  border-radius: 2px;
}

/* MODAL DE LA MESA*/

#modalMesa {
  top: 100px;
}

.modal {
  z-index: 1500;
}

/*.modal-backdrop{
 position: absolute; 
}*/

.btn-modal {
  width: 100%;
}

.btn-modal:hover {
  background: #4285F4 !important;
  color: #fff;
}

/* CONFIGURACION */

.btn {
  z-index: 10;
}

.config-form .form-control {
  background: rgba(158, 158, 158, 0.3);
}

/* MESA */

.mostrar-producto {
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: .5em;
}

.select-estado {
  border-radius: 4px;
}


/* TICKET PARA IMPRIMIR */

@media print {
  .sidebar-fixed {
    display: none;
  }
}
.separador-ticket{
  width: 100%;
  border-top: 1px dashed #323232;
  border-bottom: 1px dashed #323232;
  padding: 1px;
}


.ticket {
  max-width: 450px;
  width: 100%;
  background: #fff;
}

.ticket .header-ticket img {
  width: 150px;
}

.ticket .header-ticket .info-fecha {
  width: 100%;
}

/*COMANDA*/

.titulo-comanda,
.comanda-impresa .separador-ticket {
    display: none;
}

.comentario-comanda {
  border-bottom: 1px dashed #000;
  margin-bottom: 5px;
}
.comentario-comanda:last-child {
  border: none;
}

/* HACIENDO PEDIDOS */

#tabla-pedidos td {
  vertical-align: middle;
}

.sumaryrestar{
  width:80px;
}

a.borrarpedido,
a.addcomment {
  display: block;
  height: 30px;
}

/* CONFIGURACION */

.output_message {
  width:100%;
  max-width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: 1200;
}

/* MODAL SUCCESS Y DANGER */

.modal-success,
.modal-danger {
  background: #fff;
  color: #616161;
  webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
  z-index: 1000 !important;
}
.modal-success h5,
.modal-danger h5 {
  font-weight: bold;
  display: block;
  color: #fff;
  padding: .5em;
  width:100%;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border: 0;
}

.modal-success h5 {
  background: #00c851;
}

.modal-danger h5 {
  background: #ff3547;
}
.modal-success p,
.modal-danger p {
  color: #616161;
}

.modal-success i {
  color: #00c851;
}
.modal-danger i {
  color: #ff3547;
}

/* CAJA */

.admin-card i {
  -webkit-box-shadow: 0 2px 9px 0 rgba(0,0,0,.2), 0 2px 13px 0 rgba(0,0,0,.19);
    box-shadow: 0 2px 9px 0 rgba(0,0,0,.2), 0 2px 13px 0 rgba(0,0,0,.19);
    padding: .5rem;
    font-size: 1.3rem;
    color: #fff;
    text-align: left;
    margin-right: 1rem;
    border-radius: 3px;
}

.ganancia {
  font-size: 1.3em;
}

/* TABLAS */

.tabla-thead {background: #303f9f;}
.purple-gradient {
  background: #8E2DE2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.blue-gradient {
  background: #396afc;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2948ff, #396afc);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2948ff, #396afc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.sorting:hover {
  cursor: pointer;
}

/* LOGIN */

/*LOGIN*/

.body-login {
  height: 100vh;
  width: 100%;
  background-image: url("../img/bg-login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  z-index: 1;
  position: relative;
}

.body-login .gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  opacity: 1;
  background: -webkit-gradient(linear, 45deg, from(rgba(69, 104, 220, 0.9)), to(rgba(176, 106, 179, 0.9)));
  background: -webkit-linear-gradient(45deg, rgba(69, 104, 220, 0.9), rgba(176, 106, 179, 0.9) 100%);
  background: -o-linear-gradient(45deg, rgba(69, 104, 220, 0.9), rgba(176, 106, 179, 0.9) 100%);
  background: linear-gradient(to 45deg, rgba(69, 104, 220, 0.9), rgba(176, 106, 179, 0.9) 100%); 
}

.contenedor-login {
  width: 300px;
  height: 350px;
  background: rgba(255,255,255,.99);
  border-radius: 6px;
  padding: 0.5em;
  padding:1em;
  z-index: 3;
}

.contenedor-login input {
  margin: auto;
}

.contenedor-login .form-control {
  margin: 0;
}

.contenedor-login img {
  width: 70%;
  display: block;
  margin: auto;
  border-radius: 6px;
}


/* PEDIDOS */

.nro_mesa_pedido {
  height: 23px;
  width: 23px;
  border-radius: 100%;
  background: #f8f8f8;
  color: #222;
  font-weight: bold;
  padding: .2em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 2px #222;
}

/* Input numérico del pedido para aumentar o reducir cantidad */
.number-input input[type="number"] {
  -webkit-appearance: textfield;
    -moz-appearance: textfield;
          appearance: textfield;
}
.number-input input[type=number]::-webkit-inner-spin-button,
.number-input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.number-input {
  /*margin-bottom: 3rem;*/
}
.number-input button {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  position: relative;
}
.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  height: 2px;
  transform: translate(-50%, -50%);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}
.number-input input[type=number] {
  text-align: center;
}
.number-input.number-input {
  border: 1px solid #ced4da;
  width: 5.6rem;
  border-radius: .25rem;
}
.number-input.number-input button {
  width: 1.5rem;
  height: .7rem;
}
.number-input.number-input button.minus {
  padding-left: 10px;
}
.number-input.number-input button:before,
.number-input.number-input button:after {
  width: .7rem;
  background-color: #495057;
}
.number-input.number-input input[type=number] {
  max-width: 2rem;
  padding: .5rem;
  border: 1px solid #ced4da;
  border-width: 0 1px;
  font-size: .8rem;
  height: 2rem;
  color: #495057;
}

/* MEDIA QUERIES VARIAS */
.footer-copyright {
    display: none;
  }
.sidebar-copyright {
  position: absolute;
  bottom: 0;
  color: #000;
}

.contador-js {font-weight: bold;}